// Define variables for your color scheme

// For example:
$red: #841E42;
$blue: #167FFB;
$yellow: #FFC33E;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$brown: #522213;
$dark-brown: #331A12;
$white: #FFFFFF
