.navbar-lewagon {
  justify-content: space-between;
  background-color: #ffffff;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 40px;
}

.fas {
  color: #331a12;
}

#navbarTogglerDemo01 {
  width: 40px;
}
