.navbar{
  justify-content: space-between;
  background-color: $white;
}

.navbar navbar-expand-lg navbar-light bg-light  {
  background-color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 40px;
}

.fas {
  color: $yellow;
}

#navbarTogglerDemo01 {
  width: 40px;
}
.fas fa-map-marker-alt {
  color: $yellow;
}
