h1 {
  text-align:center;
  margin: 0 auto;
  padding-top: 50px;
  color: #331A12;
  // background-color: $white;
}

  h1{
    font-family: RlFreight, HoeflerText-Black, Times New Roman, serif;
    text-align: center;
  }
  p{
    text-align: center;
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    text-size: 16px;
  }

  li{
    color: #black;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    padding: 5px;
  }

  ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }



.col {
    display: flex;
}


a {
    color: $dark-brown;
    text-decoration: none;
}

.logo img {
  width: 200px;
  padding-top: 0px;
}

.container {
 // background-color: $white;
}

.index-page {
  background-color: $white;
}
